{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    var rotateElm = document.getElementById('rotate-box');
    var mcRotate = new Hammer.Manager(rotateElm);
    var rotate = new Hammer.Rotate();
    mcRotate.add(rotate);
    mcRotate.on("rotate", function(ev) {
    rotateElm.textContent += ev.type +" ";
});
    
    var pinchElm = document.getElementById('pinch-box');
    var mcPinch = new Hammer.Manager(pinchElm);
    var pinch = new Hammer.Pinch();
    mcPinch.add(pinch);
    mcPinch.on("pinch", function(ev) {
    pinchElm.textContent += ev.type +" ";
});
    
    var pressElm = document.getElementById('press-box');
    var mcPress = new Hammer.Manager(pressElm);
    var press = new Hammer.Press();
    mcPress.add(press);
    mcPress.on("press", function(ev) {
    pressElm.textContent += ev.type +" ";
});
    
    var panElm = document.getElementById('pan-box');
    var mcPan = new Hammer.Manager(panElm);
    var pan = new Hammer.Pan();
    mcPan.add(pan);
    mcPan.on("pan", function(ev) {
    panElm.textContent += ev.type +" ";
});
    var tapElm = document.getElementById('tap-box');
    var mcTap = new Hammer.Manager(tapElm);
    var tap = new Hammer.Tap();
    mcTap.add(tap);
    mcTap.on("tap", function(ev) {
    tapElm.textContent += ev.type +" ";
});
    var swipeElm = document.getElementById('swipe-box');
    var mcSwipe = new Hammer.Manager(swipeElm);
    var swipe = new Hammer.Swipe();
    mcSwipe.add(swipe);
    mcSwipe.on("swipe", function(ev) {
    swipeElm.textContent += ev.type +" ";
});
    
    
    
	  // your solution here
  </script>
</body>
</html>
